<article>
    <div class="meta">
        <h1>Apple struikelt over open source</h1>

        <p class="date">
            Geplaatst op <strong>18-05-2006</strong>
        </p>
    </div>
    <p>Apple heeft in zijn besturingssysteem <a target="_blank" href="http://www.apple.com/macosx/">Mac OS X</a> een open source kernel zitten die gebaseerd is op de <a target="_blank" href="http://www.freebsd.org/">FreeBSD</a> 5.0 en de <a target="_blank" href="http://www.cs.cmu.edu/afs/cs/project/mach/public/www/sources/sources_top.html#mkernel">Mach 3.0</a>-microkernel. Dit stelde power users in staat om aanpassingen te doen aan de kernel, om deze zo te specialiseren voor bepaalde taken. Denk bijvoorbeeld aan het <a target="_blank" href="http://www.tcf.vt.edu/">System X</a> cluster van <a target="_blank" href="http://www.vt.edu/">Virginia Tech</a>.</p>
    <p>Sinds Apple Mac OS X levert op systemen met Intel processors, wordt er geprobeerd OS X te draaien op gewone Intel hardware. Wie wil nou niet een mooi systeem als OS X op goedkope hardware (behalve Apple zelf)? Aangezien de kernel open source is, zijn er mensen drivers gaan ontwikkelen om andere hardware te ondersteunen. Dit was Apple een doorn in het oog, ze willen immers graag hun (dure) hardware blijven verkopen bij OS X. Daarom hebben ze besloten de OS X kernel voor Intel (x86) hardware, XNU genaamd, dicht te gooien. De kernel voor de PowerPC versie blijft wel open source, maarja die hardware raakt verouderd natuurlijk (op den duur).</p>
    <p>Natuurlijk heeft Apple het recht om de licentie te veranderen, die vrijheden biedt de <a target="_blank" href="http://www.opensource.org/licenses/bsd-license.php">BSD</a> licentie. Natuurlijk snap ik dat Apple graag hardware blijft verkopen, daar zijn ze goed in. Natuurlijk snap ik dat Apple graag OS X heeft draaien op een beperkte verscheidenheid aan hardware, dat is veel makkelijker ontwikkelen, testen en ondersteunen. Toch vind ik het jammer dat ze blijkbaar niet compleet in open source geloven.</p>
</article>
