<article>
    <div class="meta">
        <h1>Belastingdienst logica</h1>

        <p class="date">
            Geplaatst op <strong>26-08-2015</strong>
        </p>
    </div>
    <p>Ik kreeg een brief voor Multum in Parvo Monumenten B.V. Ik ken dat bedrijf niet, maar de naam lijkt erg veel op
        mijn beheer BV die ik vorig jaar heb opgeheven; Multum in Parvo B.V. Ik heb maar eens gebeld met de beste
        persoon bij de Belastingdienst en het bleek dat die gewoon even snel gezocht had in een adressenbestand en
        gewoon het verkeerde adres had gecopy/pasted. Erg slordig en aangezien in de brief behoorlijke bedragen genoemd
        werden, ging het ook echt ergens over. Toen ik dit melde op Twitter kwam er een vreemde logica van de
        Belastingdienst naar boven:</p>

    <div class="storify">
        <iframe src="//storify.com/RichardHinkamp/belastingdienst-logica/embed?header=false&amp;border=false"
                width="100%" height="750" frameborder="no" allowtransparency="true"></iframe>
        <script src="//storify.com/RichardHinkamp/belastingdienst-logica.js?header=false&border=false"></script>
        <noscript>[<a href="//storify.com/RichardHinkamp/belastingdienst-logica" target="_blank">View the story
            "Belastingdienst logica" on Storify</a>]
        </noscript>
    </div>
    <p>Logica van de Belastingdienst. Iets dat een keer is gebeurd, gebeurd niet nog een keer, ook al doen we alles nog
        gewoon lekker hetzelfde....</p>
</article>