<article>
    <div class="meta">
        <h1>De onzin verhalen over breedband internet</h1>

        <p class="date">
            Geplaatst op <strong>11-03-2015</strong>
        </p>
    </div>
    <p>In de Achterhoek zijn ze bezig met een initiatief om glasvezel naar het buitengebied te brengen. Schitterend initiatief, maar de voorlichting is onjuist. In februari 2015 heeft de <a target="_blank" href="http://www.wbba.nl">Werkgroep Breedband Buitengebied Aalten</a> een folder verspreid over het initiatief. Helaas staat deze folder niet op de website. Ik heb na het lezen van deze folder onderstaande e-mail verstuurd in de hoop dat ze in de toekomst beter na gaan denken over het verhaal dat ze communiceren.</p>

    <blockquote>
        <p><em>Geachte heer/mevrouw,</em></p>

        <p><em>Ik heb jullie folder van februari 2015 gelezen en heb hier enkele opmerkingen bij.</em></p>

        <p><em>Laat ik voorop stellen dat ik een groot voorstander ben van het initiatief. Ik woon zelf in het buitengebied, in Barlo, wel in een grijs gebied met een aanbod van UPC. Ik werk vanuit huis en ben daardoor zeer afhankelijk van mijn internetverbinding en weet dus het belang hier van.</em></p>

        <p><em>De aansluitkosten van € 500,- zullen voor veel mensen een drempel zijn, dus is het slim goede voorlichting te geven waarom dit het waard is. Deze voorlichting moet goed te snappen zijn, ook voor mensen die weinig tot geen verstand hebben van internetverbindingen. Dat jullie voor concrete voorbeelden hebben gekozen vind ik daarom een goed plan, helaas zijn het voorbeelden die niet het nut van een breedband verbinding belichten en daarmee worden mensen, in mijn ogen, onjuist geïnformeerd.</em></p>

        <p><em>Het eerste voorbeeld van de zorg op afstand is een mooi voorbeeld. Binnen deze sector wordt veel verwacht in de toekomst. Helaas wordt er een voorbeeld gegeven waarbij een hedendaagse ADSL verbinding prima voldoet. Het gaat natuurlijk niet om wat er vandaag is, maar wat er in de toekomst gaat komen, maar daar wordt geen aandacht aan besteed. Een leuk stukje, helaas geen reden om voor breedband te kiezen.</em></p>

        <p><em>Het tweede stuk over het huiswerk en 't Olde Pietepol is ronduit belachelijk. Voor het downloaden van readers van school is een ADSL verbinding meer dan voldoende. Bij het volgende punt vliegt de WiFi er uit, wat helemaal niets met de internetverbinding te maken heeft, misschien moeten ze een fatsoenlijk accesspoint aanschaffen. Aan- en afmelden van koeien, belastingaangifte, zaken die geen enkel belang hebben bij een grote bandbreedte. De toeristen verbazen zich over het feit dat er geen mobiel netwerk is, ik verbaas me over het feit dat er weer een punt aangehaald wordt dat niets met de internetbinding te maken heeft. Meteen gevolgd door nog zo'n niet relevant punt over GPS routes.</em></p>

        <p><em>Het derde stuk over Obbink Installatietechniek slaat de plank ook weer op verschillende punten mis. De aanschaf van computers en een software pakket hebben niets met de internetverbinding te maken, an sich. Is er een software pakket gekozen dat erg afhankelijk is van de internetverbinding, dan ligt de schuld toch echt bij diegene die voor dat pakket heeft gekozen. Dat ze onderweg slecht bereikbaar zijn heeft weer te maken met het mobiele netwerk. Voor het uitlezen van een CV ketel is al helemaal geen breedband nodig, voor dergelijk toepassingen wordt zelfs een draadloos netwerk aangelegd door KPN dat juist een hele kleine bandbreedte heeft (LoRa).</em></p>

        <p><em>Helaas worden er dus veel foutieve punten aangehaald en weinig punten die het nut van een breedband aansluiting verduidelijken.</em></p>

        <p><em>Ik hoop dat jullie in de toekomst betere voorbeelden kunnen geven waarom breedband nodig is. Dat het in de toekomst nodig is, staat voor mij als een paal boven water. Op dit moment is de noodzaak er nog maar weinig, wat niet weg neemt dat het erg prettig is om de beschikking te hebben over een snelle internetverbinding. Op dit moment zullen weinig mensen die € 500,- uit willen geven omdat ze nu de pijn nog niet voelen. Deze mensen moeten het wel in gaan zien dat ze het in de (nabije) toekomst wel gaan voelen, dus dat verhaal moet uitgelegd worden. Neem de manier van TV kijken die omslaat van kijken wanneer het uitgezonden wordt, naar kijken wanneer het uit komt. Dit betekent dat naast het "gewone" internet verkeer, daar ook TV bij komt in de vorm van uitzending gemist of Netflix of iets dergelijks. Dan komen we op het punt dat er steeds meer over het lijntje moet en dan begint bandbreedte het knelpunt te vormen en is een goede reden hier voor te kiezen.</em></p>

        <p><em>Verder wordt er regelmatig gesproken over de betrouwbaarheid van de verbinding. Hier kan men op dit moment ook al veel aan doen door een betrouwbare ADSL provider te nemen en kwalitatief goede netwerk apparatuur, dat zal bij de meeste mensen de betrouwbaarheid met sprongen vooruit helpen. Ik heb zelf gewerkt bij een bedrijf waar dagelijks 30+ mensen tegelijk (intensief) gebruikt maakten van de internetverbinding wat een gewone ADSL lijn was, geen enkel probleem.</em></p>

        <p><em>Ik hoop van harte dat het initiatief gaat slagen en zelfs dat ik in het grijze gebied daar ooit op aan mag sluiten. Het is in mijn ogen daarom zeer belangrijk om juiste informatie te verstrekken, helaas is de folder van februari 2015 daarin een misser in mijn ogen.</em></p>

        <p><em>Ik hoop dat jullie door mijn negatieve toon heen kunnen lezen en hier wel wat mee kunnen.</em></p>

        <p><em>Met vriendelijke groet,<br/>Richard Hinkamp</em></p>
    </blockquote>
</article>