<article>
    <div class="meta">
        <h1>Elektronisch factureren?</h1>

        <p class="date">
            Geplaatst op <strong>23-10-2007</strong>
        </p>
    </div>
    <p>Ik ben gisteren naar het seminar <a target="_blank" href="http://www.mediaplaza.nl/mp.php/overheid/agenda/agenda.php?id=258">Elektronisch Factureren</a> geweest. Naar aanleiding van een gesprek dat we eind augustus hebben gehad met Friso de Jong van <a target="_blank" href="http://www.factuurwijzer.nl/">Factuurwijzer</a> (niet geheel toevallig ook dag voorzitter van het seminar), is onze interesse in het elektronisch factureren aangewakkerd. De Belastingdienst heeft hier voor de nodige regels opgesteld (en onlangs aangescherpt). Een seminar gewijd aan dit onderwerp, leek ons de ideale manier om nader kennis te maken met het fenomeen elektronisch factureren.</p>
    <p>Tijdens het seminar werd het elektronisch factureren vanuit veel verschillende kanten belicht. Vooral interessant waren de presentaties van Gerard Bottemanne van <a href="http://www.softwarepakketten.nl/">softwarepakketten.nl</a> die een kritische blik gaf op boekhoud programma's en de manier waarop zij ondersteuning bieden voor elektronische facturen. Danny Kuijper van de <a target="_blank" href="http://www.belastingdienst.nl/">Belastingdienst</a> kwam uitleg geven over de fiscale regels rondom het elektronisch factureren. Wim Lootens van <a target="_blank" href="http://www.leaseplan.nl/">Leaseplan</a> kwam een heldere uitleg geven van de implementatie van elektronisch factureren binnen Leaseplan en de redenen waarom dat gedaan is.</p>
    <p>Enkele belangrijke punten die aan bod zijn gekomen:</p>
    <p><strong>Het besparen van de postzegel is geen reden om elektronisch te gaan factureren.</strong></p>
    <p>Elektronische facturen hebben grote voordelen wanneer ze geautomatiseerd verwerkt kunnen worden, daar valt op te besparen. De kosten van een postzegel zijn maar een klein deel van alle kosten die een factuur met zich mee brengt.</p>
    <p><strong>Heeft je klant wel baat bij elektronische facturen?</strong></p>
    <p>Maak je het een klant makkelijker wanneer hij moet inloggen op je portal om daar facturen op te halen (en voldoe je hiermee wel aan brengplicht die geldt bij facturen of moeten hierover in vooroverleg met de Belastingdienst)? In plaats van een papieren factuur die de komende 7 jaar in de map zit, moet de klant de komende 7 jaar jouw elektronische factuur bewaren, hier is de bakker op de hoek hoogst waarschijnlijk niet op ingericht.</p>
    <p><strong>Krijg je als afnemer wel een authentieke factuur?</strong></p>
    <p>Wanneer je een PDF bestand krijgt zonder elektronische handtekening, is deze factuur niet controleerbaar integer en authentiek en hiermee niet goed genoeg voor de belastingdienst. Dus moet er alsnog een authentieke factuur opgevraagd worden en wat als je dan geen klant meer bent van de betreffende leverancier, wat als de leverancier failliet is gegaan?</p>
    <p><strong>Praten we over hetzelfde?</strong></p>
    <p>Er is geen standaard in elektronische facturen. Als de integriteit en authenticiteit maar controleerbaar is zal de Belastingdienst je blijven vertellen. Dit zegt helaas niets over het formaat van de factuur, deze kan dus nog steeds zeer divers zijn, dus is het automatisch verwerken van elektronische facturen in een willekeurig boekhoudpakket nog toekomst muziek (helaas).</p>
    <p><strong>Is de Belastingdienst duidelijk genoeg?</strong></p>
    <p>De kans is aanwezig dat je van de Belastingdienst verschillende antwoorden krijgt wanneer je dezelfde vraag aan meerdere personen vraagt. Dit werd duidelijk tijdens het seminar toen ik een vraag stelde over de brengplicht, omdat Friso de Jong dat tijdens ons gesprek had uitgelegd. Danny Kuijper van de Belastingdienst gaf hier een ander antwoord op, waarop ook Friso toch wel even verbaasd was, hem was immers door een ander persoon binnen de Belastingdienst een andere uitleg gegeven. Hoe moeten we voldoen aan regels wanneer de regels op meerdere manieren worden uitgelegd?</p>
    <p>Het seminar heeft de nodige vragen beantwoord, maar ook de nodige nieuwe vragen opgeroepen. Voor mij is gebleken dat elektronisch factureren nog in de kinderschoenen staat. Er is nog geen standaard, hierdoor komt het er op neer dat je zelf moet gaan uitzoeken hoe je het moet doen, dit kost de nodige tijd en geld, de vraag is natuurlijk of je dat terug verdient. Daarnaast vind ik de regels van de Belastingdienst nog niet helder genoeg en weet ik dus niet of ik er aan kan voldoen.</p>
    <p>We zouden graag voorop willen lopen op het vlak van elektronisch factureren, maar zien hier op dit moment vanaf. De tijd en geld die we nu moeten investeren, verdienen we simpelweg niet terug. Dus wij sturen al onze facturen maar gewoon "ouderwets" via de post en blijven de ontwikkelingen volgen!</p>
</article>
