<article>
    <div class="meta">
        <h1>Geen tijd...</h1>

        <p class="date">
            Geplaatst op <strong>02-03-2012</strong>
        </p>
    </div>
    <p style="text-align: center;">Geen tijd voor bezinning hebben<br />
        Is geen tijd hebben<br />
        Om te kijken<br />
        Waar we heen gaan<br />
        Omdat we het te druk hebben<br />
        Met er te komen</p>
    <p><em>A.G. Sertillanges, Franse preister, 1863 - 1948<br />
        Uit: Milan Kundera, De ondraaglijke lichtheid van het bestaan</em></p>
</article>