<article>
    <div class="meta">
        <h1>Google komt met nieuwe Trend</h1>

        <p class="date">
            Geplaatst op <strong>11-05-2006</strong>
        </p>
    </div>
    <p>Wederom heeft <a target="_blank" href="http://www.google.com/">Google</a> een nieuwe applicatie geïntroduceerd. Met <a target="_blank" href="http://www.google.com/trends">Google Trends</a> geeft Google inzicht in de trends qua zoekwoorden. Per zoekwoord kan een grafiek worden opgevraagd waarin wordt afgebeeld hoe het met de populariteit van dit zoekwoord zit. Wanneer er meerdere zoekwoorden worden ingevuld, worden deze samen in dezelfde grafiek getoond.</p>
    <p>Wanneer we aan Google Trends vragen wat de meeste populaire term voor een weblog is, krijgen we het volgende <a target="_blank" href="http://www.google.com/trends?q=weblog%2C+blog%2C+web+log&amp;ctab=0&amp;date=all&amp;geo=all">resultaat</a>:</p>
    <p align="center"><img alt="Google Trends - weblog, blog, web log" height="260" align="middle" width="540" src="/blogs/img/grafiek.png" /></p>
    <p>Zoals je ziet is wereldwijd "blog" veruit de meeste populaire naam. Onderin de grafiek wordt meteen een overzicht gegeven van nieuwsberichten over de verschillende zoekwoorden, wederom met "blog" als winnaar.</p>
    <p>Hadden we onze weblog dan toch blog.besite.nl moeten noemen? Google biedt ons ook de mogelijkheid om de trend in een bepaald land of regio te tonen. Wanneer we "Netherlands" kiezen krijgen we een <a target="_blank" href="http://www.google.com/trends?q=weblog%2C+blog%2C+web+log&amp;ctab=0&amp;date=all&amp;geo=NL">andere grafiek</a> te zien:</p>
    <p align="center"><img style="width: 540px; height: 193px;" alt="Google Trends - weblog, blog, web log - Nederland" src="/blogs/img/grafiek_nl.png" /></p>
    <p>Dus toch de juiste term gekozen.</p>
    <p>Naast de grafieken geeft Google Trends ook tabellen met overzichten met de laatste stand per stad, regio en taal. Hier kunnen we bijvoorbeeld zien dat in Nederland vaker de term "weblog" wordt gebruikt, maar dat het bij Engelstalige sites in Nederland toch weer "blog" is dat het meest gebruikt wordt.</p>
    <p>Google Trends kan een zeer interessante applicatie zijn wanneer je wilt weten op welke zoekwoorden je het meeste resultaat kunt krijgen. Mensen die via <a target="_blank" href="http://adwords.google.com/">Google Adwords</a> adverteren zullen zeker blij zijn met het inzicht dat Google Trends kan bieden.</p>
    <p><em>Origineel geplaatst op <a target="_blank" href="http://www.besite.nl/kladblok/38/google-komt-met-nieuwe-trend.html">BeSite Kladblok</a>.</em></p>
</article>