<article>
    <div class="meta">
        <h1>Java wordt open source!</h1>

        <p class="date">
            Geplaatst op <strong>17-05-2006</strong>
        </p>
    </div>
    <p>Het heeft lang geduurd, maar de kogel is door de kerk: <a target="_blank" href="http://java.sun.com/">Java</a> wordt open source! De open source gemeenschap zit al jaren te vragen om de broncode van Java, maar <a target="_blank" href="http://www.sun.com/">Sun</a> wilde liever controle houden over de ontwikkeling van Java. Zelfs vorige week werd nog verteld dat Java geen open source zal worden.</p>
    <p>Tijdens Sun's <a target="_blank" href="http://java.sun.com/javaone/sf/">JavaOne</a> conferentie kwam dan verrassende mededeling, "At this point, it is not a question of whether, but it is a question of how". We zijn dan ook erg benieuwd hoe Sun het aan zal pakken. Ze hebben natuurlijk de nodige ervaring met het uitbrengen van eigen software onder een open source licentie. Zo hebben ze natuurlijk <a target="_blank" href="http://opensolaris.org/os/">OpenSolaris</a> uitgebracht, maar onlangs werd ook nog <a target="_blank" href="http://www.sun.com/smi/Press/sunflash/2006-05/sunflash.20060516.3.xml?cid=155">aangekondigd</a> dat Java System Portal Server 7 onder een open source licentie beschikbaar zal worden. De twee grote vragen zijn natuurlijk wanneer Java open source wordt en onder welke licentie dan wel. Het zal wel niet onder de <a target="_blank" href="http://www.opensource.org/licenses/gpl-license.php">GPL</a> zijn, daar is Sun niet zo'n fan van. Sun's eigen <a target="_blank" href="http://www.opensource.org/licenses/cddl1.php">CDDL</a> dan wellicht? We zullen het hopelijk snel zien.</p>
</article>
