<article>
    <div class="meta">
        <h1>Klantenservice irritatie: Fonq.nl</h1>

        <p class="date">
            Geplaatst op
            <strong>27-02-2018</strong>
        </p>
    </div>
    <p>Ik heb laatste een mooie stoel gekocht bij fonq.nl, netjes en snel bezorgd, mooie stoel en zit fijn, alles goed. Alleen
        na twee weken ging de naad open en toen begon mijn reis vol verwondering over de klantenservice van Fonq (en haar
        leveranciers/vervoerders):
    </p>
    <p class="note">
        (ik heb de alle beste ..., dank voor uw bericht, dank voor uw geduld, onze excuses voor het ongemak, met vriendelijk groet,
        etc er maar uit gelaten, anders wordt het wel heel lang)
    </p>
    <blockquote class="email">
        <p class="from">Ik op 2 januari 2018</p>
        <p>Wij hebben de stoel in goede orde ontvangen, alleen is binnen 2 weken het stiksel van een kussen al kapot, zie foto.
            Hoe kunnen we dit oplossen?</p>
    </blockquote>
    <blockquote class="email">
        <p class="from">Fonq op 3 januari 2018</p>
        <p>Wat vervelend dat u dit ervaart met uw Woood Bryan Fauteuil. Wij gaan direct met de leverancier in overleg wat we
            hier het beste aan kunnen doen. Zodra wij hier meer informatie over hebben laten wij u dit weten.</p>
    </blockquote>
    <p>Heel fijn, het wordt opgepakt met de leverancier. Waarschijnlijk zal het wel iets langer duren zo net na nieuwsjaarsdag,
        maar dat is op zich geen probleem. Na een week toch maar eens de status vragen.</p>
    <blockquote class="email">
        <p class="from">Ik op 10 januari 2018</p>
        <p>Wanneer kan ik een reactie verwachten?</p>
    </blockquote>
    <p>Gelukkig heeft Fonq een heel mooi ticketing systeem dat na elk mailtje dat je stuurt, een mailtje terug stuurt met exact
        dezelfde tekst en een mooi Fonq logo er boven. Dat is op zich onnodig, maar na vele mailtjes (spoiler: er komen er
        nog een paar) wordt het ronduit irritant.</p>
    <blockquote class="email">
        <p class="from">Fonq op 10 januari 2018</p>
        <p>Helaas hebben wij nog geen reactie van onze leverancier ontvangen over uw aanvraag. Wij hebben hen zojuist weer een
            reminder gestuurd. We hopen u dan ook zo snel mogelijk meer te kunnen vertellen. Onze excuses voor het lange
            wachten.
        </p>
    </blockquote>
    <p>Onhandig zo'n leverancier, maar we wachten rustig af.</p>
    <blockquote class="email">
        <p class="from">Ik op 16 januari 2018</p>
        <p>We zijn inmiddels bijna twee weken verder, ik zou graag op korte termijn een inhoudelijke reactie ontvangen.</p>
    </blockquote>
    <blockquote class="email">
        <p class="from">Fonq op 16 januari 2018</p>
        <p>Helaas hebben wij nog geen reactie van onze leverancier ontvangen over uw aanvraag. Wij hebben hen zojuist weer een
            reminder gestuurd. We hopen u dan ook zo snel mogelijk meer te kunnen vertellen. Onze excuses voor het lange
            wachten.
        </p>
    </blockquote>
    <p>Leuk die leverancier die niet kan communiceren, maar dit duurt wel erg lang zo.</p>
    <blockquote class="email">
        <p class="from">Ik op 21 januari 2018</p>
        <p>Ik ben er klaar mee inmiddels. Ik heb de stoel besteld bij jullie en niet bij de leverancier. Ik verwacht nu een
            oplossing van jullie. Dat de leverancier niet reageert is niet mijn probleem, maar van jullie.</p>
    </blockquote>
    <blockquote class="email">
        <p class="from">Fonq op 22 januari 2018</p>
        <p>Wij begrijpen uw reactie maar we moeten het probleem helaas echt voorleggen aan de leverancier voor we actie kunnen
            ondernemen.
        </p>
        <p>Wij gaan nogmaals een spoed reminder sturen en komen hier echt zo snel mogelijk bij u op terug.</p>
    </blockquote>
    <p>Wellicht helpt een spoed reminder...</p>
    <blockquote class="email">
        <p class="from">Fonq op 22 januari 2018</p>
        <p>Wij hebben zojuist goed nieuws ontvangen van de leverancier. Ze gaan de stoel omruilen voor u.</p>
        <p>De omruiling wordt morgen aangeboden bij het bezorg bedrijf en die maken dan telefonisch een afspraak met u wanneer
            het uitkomt om de omruiling plaats te laten vinden.</p>
        <p>De bezorg voorwaarden gelden als volgt: tot aan de deur op de begaande grond, chauffeur komt namelijk alleen.</p>
    </blockquote>
    <p>Gelukkig, duurt 20 dagen maar dan wordt het ook opgelost.</p>
    <blockquote class="email">
        <p class="from">Ik op 26 januari 2018</p>
        <p>We zijn inmiddels weer een paar dagen verder en nog steeds niets gehoord, wordt er wel moedeloos van zo.</p>
    </blockquote>
    <blockquote class="email">
        <p class="from">Fonq op 28 januari 2018</p>
        <p>Wat vervelend om te horen dat de vervoerder nog geen contact met u heeft opgenomen. Wij zullen deze zelf benaderen
            voor u, op welke dag zou het omgeruild mogen worden?</p>
    </blockquote>
    <blockquote class="email">
        <p class="from">Ik op 26 januari 2018</p>
        <p>Dag maakt niet uit, er is in principe elke dag iemand thuis.</p>
    </blockquote>
    <blockquote class="email">
        <p class="from">Fonq op 29 januari 2018</p>
        <p>Wij hebben uw bericht doorgezet naar de leverancier zodat wij zo spoedig mogelijk een afspraak voor u kunnen maken.</p>
        <p>Zodra wij een afspraak hebben bevestigt nemen wij weer contact met u op.</p>
    </blockquote>
    <p>Gelukkig vinden ze bij Fonq inmiddels ook dat het zo niet kan en gaan ze zelf het heft in handen nemen, even afspraak
        maken en klaar is kees.</p>
    <blockquote class="email">
        <p class="from">Ik op 31 januari 2018</p>
        <p>Nou zijn we alweer 2 dagen verder en nog steeds niets. Ik snap niet wat er zo moeilijk is aan het omruilen van een
            artikel. Waar wachten we nou op?</p>
    </blockquote>
    <blockquote class="email">
        <p class="from">Fonq op 31 januari 2018</p>
        <p>Wij snappen dat het voor u al een tijdje duurt, echter zijn wij in afwachting van de leverancier.</p>
        <p>Zodra wij een reactie krijgen van de leverancier nemen wij weer contact met u op.</p>
    </blockquote>
    <p>Voor zover het heft in eigen handen nemen, snel weer verschuilen achter een andere partij.</p>
    <blockquote class="email">
        <p class="from">Ik op 31 januari 2018</p>
        <p>Dat snap ik, maar dat is niet mijn probleem. Ik heb de stoel bij fonq besteld en niet bij de leverancier. Dat die
            er een potje van maakt is jullie probleem om op lossen, niet om bij mij neer te leggen. Ik verwacht nu een spoedige
            oplossing.
        </p>
    </blockquote>
    <blockquote class="email">
        <p class="from">Fonq op 1 februari 2018</p>
        <p>Wij hebben direct contact opgenomen met de leverancier weer, helaas was het telefoonnummer foutief doorgekomen. Zij
            hebben dit meteen aangepast en wij gaan er vanuit dat de vervoerder "Dutchned" vandaag, uiterlijk morgen, contact
            met u opneemt voor de omruiling.</p>
    </blockquote>
    <p>Gelukkig wordt het nu echt geregeld!</p>
    <blockquote class="email">
        <p class="from">Ik op 2 februari 2018</p>
        <p>Weer wordt de belofte niet nagekomen, nog steeds niets gehoord. Ik hoor graag een andere oplossing waarbij ik niet
            moet wachten op een incompetente derde partij waar ik geen relatie mee heb.</p>
        <p>Ben erg teleurgesteld in de gang van zaken. Of het nou wel of niet jullie schuld is, dit straalt af op fonq.</p>
        <p>Ik hoop dat jullie nu eens jullie verantwoordelijkheid pakken en dit oplossen.</p>
    </blockquote>
    <blockquote class="email">
        <p class="from">Fonq op 4 februari 2018</p>
        <p>Dat is wel heel vervelend, dat DutchNed nog steeds niks van zich heeft laten horen. Wij zullen maandag direct contact
            met ze opnemen voor u en komen hier dan zo snel mogelijk op terug.</p>
    </blockquote>
    <p>DutchNed, nog nooit van gehoord, maar dat is blijkbaar de vervoerder die al net zo goed kan communiceren als de leverancier.
        Je vraagt je af hoe die elkaar ooit gevonden hebben.</p>
    <blockquote class="email">
        <p class="from">Ik op 4 februari 2018</p>
        <p>Dat is fijn, maar de zoveelste keer dat jullie dit zeggen en telkens gebeurd er niets. Ik heb dus weinig vertrouwen
            dat er hetzelfde gedaan wordt en het nu ineens een andere uitkomst zal geven.</p>
    </blockquote>
    <blockquote class="email">
        <p class="from">Fonq op 4 februari 2018</p>
        <p>Wij begrijpen uw frustratie, wij hadden ook heel graag vandaag voor u gebeld maar dat gaat helaas niet. Morgen zullen
            wij u weer op de hoogte brengen.</p>
    </blockquote>
    <blockquote class="email">
        <p class="from">Fonq op 5 februari 2018</p>
        <p>Wij hebben vandaag nogmaals contact gehad met de leverancier "DutchNed" en de leverancier "de Eekhoorn". Er was helaas
            nog steeds sprake van een communicatiefout, deze is wel vandaag verholpen.</p>
        <p>Wij hebben vernomen vanuit de leverancier dat de vervoerder vandaag contact met u opneemt.</p>
    </blockquote>
    <p>Ah de leverancier heeft ook naam gekregen, maar communicatie is nog steeds erg moeilijk. Gelukkig gaan ze vandaag contact
        opnemen.
    </p>
    <blockquote class="email">
        <p class="from">Ik op 5 februari 2018</p>
        <p>Nou [naam] je mag 3x raden of ze gebeld hebben.... Maar ach we zijn ook nog maar een ruime maand bezig...</p>
    </blockquote>
    <blockquote class="email">
        <p class="from">Fonq op 6 februari 2018</p>
        <p>Wij hebben contact opgenomen met DutchNed, zij hebben u gisteren geprobeerd te bellen maar kregen helaas geen gehoor.
            Wij zijn bang dat het telefoonnummer nog steeds foutief staat.</p>
        <p>Op welke dag mag het geleverd worden? Wij zullen dan een afspraak voor u inplannen met ze. Eventueel kunt u dit ook
            zelf doen, u kunt ze telefonisch bereiken via [nummer].</p>
    </blockquote>
    <p>Ik mag zelf een afspraak maken, ja stel je voor dat jullie wat doen.</p>
    <blockquote class="email">
        <p class="from">Ik op 6 februari 2018</p>
        <p>Ik heb geen gemiste oproep gehad gisteren, dus ik vraag me af wie ze gebeld hebben. Het mag geleverd worden op een
            van deze dagen:</p>
        <p>[lijstje dagen]</p>
    </blockquote>
    <blockquote class="email">
        <p class="from">Fonq op 6 februari 2018</p>
        <p>Wij hebben zojuist contact opgenomen met DutchNed voor u, zij geven aan het telefoonnummer [nummer] gebeld te hebben.
            Is deze wel of niet goed?</p>
        <p>Tevens geven zij ook aan dat het e-mailadres niet goed was doorgekomen, dit hebben we meteen aangepast. U kunt de
            bestelling aanstaande maandag 12 februari ontvangen.</p>
        <p>DutchNed zal u aanstaande donderdag 8 februari nog een e-mail sturen met daarin het verwachte tijdstip van de levering,
            dit zal sowieso tussen 7 en 4 uur zijn.</p>
    </blockquote>
    <p>Het nummer klopt, maar ik heb geen gemiste oproep, geen voicemail of iets... Natuurlijk was ook het e-mail adres niet
        goed doorgekomen, dat is ook erg lastig...</p>
    <blockquote class="email">
        <p class="from">Ik op 10 februari 2018</p>
        <p>Ja dat telefoonnummer klopt en je mag weer 3x raden of ik een email heb gehad donderdag... Ik ben heel benieuwd of
            ze maandag hier verschijnen...</p>
    </blockquote>
    <blockquote class="email">
        <p class="from">Fonq op 10 februari 2018</p>
        <p>Wij hopen toch dat het aanstaande maandag goed zal gaan. Wij horen graag of de levering is gelukt.</p>
    </blockquote>
    <p>En waarempel, die maandag stond iemand van DutchNed voor de deur met een nieuwe stoel. Die chauffeur had hier geen aandeel
        in, dus ben maar niet over dit hele verhaal begonnen. Gelukkig had die een nieuwe stoel bij zich en deze is tot op
        heden ook nog steeds in goede staat.</p>
    <p>Van mijn vrienden van de klantenservice van Fonq heb ik nooit meer wat gehoord, ook dat zegt genoeg.</p>
</article>