<article>
    <div class="meta">
        <h1>Lieve onbekende LinkedIn persoon</h1>

        <p class="date">
            Geplaatst op <strong>14-03-2015</strong>
        </p>
    </div>
    <p>Wat fijn dat je mij hebt gevonden op LinkedIn! Ik weet niet precies waarom je contact met me wilt. Wellicht is
        het een idee om een kleine toelichting te typen bij je uitnodiging, zodat ik weet wat je van me wilt. Ik ga toch
        een poging doen jouw verzoek te plaatsen. Aan jouw functie te zien ben je een recruiter. Iemand die;</p>

    <p>A. Nauwe, persoonlijk banden opbouwt met werkgevers en kandidaten om zo een mooie match te maken tussen partijen
        die elkaar anders niet gevonden hadden.</p>

    <p>B. Zo maar op LinkedIn op zoveel mogelijk "toevoegen" knopjes drukt.</p>

    <p>Aangezien je niet eens de moeite hebt genomen te vertellen wie je bent en waarom je contact met me wilt, ga ik er
        even van uit dat je in categorie B valt. Hoe dan ook, ik heb een hele leuke baan en ik ben compleet niet op zoek
        naar iets anders. "Ja maar ik heb super uitdagende posities bij de beste bedrijven met geweldige voorwaarden".
        Je weet niet wat mijn voorwaarden nu zijn en wat ik überhaupt belangrijk vindt, dus ik acht de kans klein dat
        jij zomaar een geweldige match voor me hebt. Maar laat je niet ontmoedigen, misschien ben jij wel die positieve
        uitzondering in dat vreselijke recuiterswereldje! Je begin is niet al te best, maar het kan nog steeds. Probeer
        me eens in drie zinnen te overtuigen waarom ik naar jou zou moeten luisteren, heel misschien weet je me te
        overtuigen en kun je <s>mij aan een droombaan helpen</s> een mooie provisie binnen halen als je me ergens
        plaatst. Je weet me te vinden!</p>

    <p>Met vriendelijke groet,</p>

    <p>Richard Hinkamp</p>
</article>