<article>
    <div class="meta">
        <h1>Mijn KIVA lening</h1>

        <p class="date">
            Geplaatst op <strong>16-01-2012</strong>
        </p>
    </div>
    <p>Met kerst hebben wij al ons <a href="http://www.besite.nl" target="_blank">BeSite</a> personeel $25 tegoed voor <a href="http://www.kiva.org" target="_blank">kiva.org</a> gegeven. Hiermee kan men een microkrediet geven aan mensen in de wereld voor wie geld veel meer waard is dan voor ons. Zie voor meer informatie hier over ook een bericht op het <a href="http://www.besite.nl/kladblok.html" target="_blank">weblog van BeSite</a> genaamd "<a href="http://www.besite.nl/kladblok/253/kiva-kerstcadeau.html">KIVA Kerstcadeau</a>".</p>
    <p>Ik heb mijn $25 uitgeleend aan Yolanda Olivar Torres uit El Dorado, Santa Barbara, Honduras. Zij heeft het geld nodig voor dingen als mest en lonen van werknemers om koffie te verbouwen. Zie ook <a href="http://www.kiva.org/lend/371498">alle informatie over haar en de lening</a> op de website van Kiva.</p>
    <p>Ik hoop dat deze lening Yolanda verder helpt in haar business aan de andere kant van wereld. Wanneer ze het terugbetaalt, kan ik het meteen weer inzetten voor een van de vele andere projecten bij Kiva.</p>
</article>