<article>
    <div class="meta">
        <h1>Sta Even Stil - Liselore Gerritsen</h1>

        <p class="date">
            Geplaatst op <strong>08-11-2011</strong>
        </p>
    </div>
    <p>In het boek "<a href="http://www.detussentijd.nu/" target="_blank">De Tussentijd</a>" van <a href="http://twitter.com/detussentijd" target="_blank">Debbie Molhuizen</a> las ik het volgende gedicht:</p>
    <blockquote>
        <p>Sta even stil<br />
            Draai je niet om<br />
            En kijk ook niet vooruit<br />
            Tel de seconden<br />
            Niet de uren<br />
            Adem in en uit</p>
        <p>Sta even stil<br />
            En leg je armen<br />
            Langs je eigen lijf<br />
            Voel je voeten<br />
            Op de aarde<br />
            Want dit is je verblijf</p>
        <p>Sta even stil<br />
            En weet het weer<br />
            Leg het nooit iemand uit<br />
            Aan liefde<br />
            Is niets uit te leggen<br />
            Adem haar in en uit</p>
    </blockquote>
    <p>Blijkt de tekst uit een liedje te zijn dat ik nog nooit gehoord heb, maar erg mooi.</p>
</article>