<article>
    <div class="meta">
        <h1>Thuiswerken</h1>

        <p class="date">
            Geplaatst op <strong>28-01-2015</strong>
        </p>
    </div>
    <p>Sinds ik bij Rolsch Assetmanagement werk hoef ik niet meer dagelijks naar een of ander kantoor, ik werk vanuit huis. Veel mensen denken dat dat saai is, of heel erg eenzaam. Helemaal niet!</p>
    <p>Laat ik voorop stellen dat thuiswerken niet voor iedereen is. Je moet zelfdiscipline hebben om om te kunnen gaan met de vrijheid die je hebt. In de 13 jaar dat ik eigen baas ben geweest heb ik gelukkig de nodige zelfdiscipline ontwikkeld.</p>
    <p class="center">"Is dat niet saai elke dag alleen achter je computer zitten?"</p>
    <p>Als je het zo stelt lijkt het inderdaad weinig spannend. Gelukkig heb ik wel collega's, ook al zitten die in Enschede of Amsterdam. Ik zie ze niet elke dag, maar werk wel intensief samen. In mijn ogen is het juist de samenwerking die het leuk maakt. Met 1000 collega's in een groot gebouw zitten voegt niets toe, want je werkt niet samen met al die mensen. De kleine groep waar je wel mee samenwerkt bepaalt de lol in je werk. Daarnaast is de manier van samenwerken ook erg belangrijk. Er zijn te veel bedrijven waar veel mensen aan hetzelfde project werken zonder echt samen te werken. Gelukkig zit ik nu in een team waar we heel intensief samenwerken. Ik heb zelf de verwantwoordelijkheid om mijn taken af te maken, maar werk samen met de ene collega om de functionele kaders te bepalen en met een andere collega om technische zaken af te stemmen. Niet samen in dezelfde ruimte, maar wel samen. We overleggen veel via <a target="_blank" href="https://slack.com/">Slack</a>, een absolute aanrader voor teams voor 1 op 1 communicatie, maar ook in groepen van meerdere personen. Zelfs als je bij elkaar op kantoor zit wordt er veel onderling gemaild, dit kun je allemaal vervangen door Slack zodat je mailbox niet meer "vervuild" wordt met allerlei interne mails die misschien helemaal niet belangrijk zijn. Bestanden delen doe je gewoon in Slack en blijven daar ook bewaard. Voor uitvoerig overleg gebruiken we Skype en daarnaast spreken we soms af ergens in Nederland om een (mid)dag te overleggen. Verder gaan we zo nu en dan eens bij een klant langs en zo zie ik mijn collega's toch nog regelmatig.</p>
    <p>Het belangrijkste aspect waarom ik zo veel lol in mijn werk heb is de samenwerking, dat dat op afstand is doet daar geen enkele afbreuk aan.</p>
</article>