<article>
    <div class="meta">
        <h1><a href="{{ record.link }}">{{ record.title }}</a></h1>

        <p class="date">
            Geplaatst op <strong>{{ record.datepublish|date("d-m-Y")}}</strong>
        </p>
    </div>

    {{ record.teaser }}

</article>