<article>
    <div class="meta">
        <h1>Quotes</h1>
    </div>
    <p>Wanneer ik inspirerende quotes tegen kom, dan voeg ik die hier toe zodat ik er zo af en toe nog eens door heen kan bladeren. Hopelijk kunnen ze meer mensen inspireren!</p>
    <ul class="quotes">
        <li>
            Excellence is never an accident. It is always the result of high intention, sincere effort, and intelligent execution; it represents the wise choice of many alternatives - choice, not chance, determines your destiny.
            <span class="by">Aristotle</span>
        </li>
        <li>
            I learned very early the difference between knowing the name of something and knowing something.
            <span class="by">Richard Feynman</span>
        </li>
        <li>
            Programming is the art of knowing when to use google, when to ask for help, and when to go for a walk around the block.
        </li>
        <li>
            Leven is makkelijker dan je denkt, maar moeilijker als je denkt.
            <span class="by">Guido Weijers</span>
        </li>
        <li>
            I'd rather be a failure at something I love than a success at something I hate.
            <span class="by">George Burns</span>
        </li>
        <li>
            Being is effortless. Becoming takes effort.
            <span class="by">J. Krishnamurti</span>
        </li>
        <li>
            Das Merkwürdigste an der Zukunft ist wohl die Vorstellung, dass man unsere Zeit später 'die gute alte Zeit' nennen wird.
            <span class="by">John Steinbeck</span>
        </li>
        <li>
            Aerodynamically the bumblebee shouldn’t be able to fly, but the bumblebee doesn’t know that so it goes on flying anyway.
            <span class="by">Mary Kay Ash</span>
        </li>
        <li>
            There's a difference between knowing the path and walking the path.
            <span class="by">Morpheus (Matrix)</span>
        </li>
        <li>
            First they ignore you, then they laugh at you, then they fight you, then you win.
            <span class="by">Gandhi</span>
        </li>
        <li>
            For individuals, character is destiny. For organisations, culture is destiny.
        </li>
        <li>
            Life isn't about finding yourself. Life is about creating yourself.
            <span class="by">George Bernard Shaw</span>
        </li>
        <li>
            Thousands of candles can be lit from a single candle, and the life of the candle will not be shortened. Hapiness never decreases by being shared.
            <span class="by">Buddha</span>
        </li>
        <li>
            Over drie jaar zijn al onze producten verouderd. De enige vraag is of we daar zelf voor gaan zorgen of de concurrent.
            <span class="by">Bill Gates</span>
        </li>
        <li>
            Leiderschap is leren zien en worden wie je bent.
            <span class="by">J. Wessel Ganzevoort</span>
        </li>
        <li>
            Well done is better than well said.
            <span class="by">Benjamin Franklin</span>
        </li>
        <li>
            If I could let go of perfectionism, my life would be perfect.
        </li>
        <li>
            Being good in business is the most fascinating kind of art
            <span class="by">Andy Warhol</span>
        </li>
        <li>
            Pijn is tijdelijk, opgeven is voor altijd.
            <span class="by">Lance Armstrong</span>
        </li>
        <li>
            Hoe groter het eiland van kennis, hoe langer de kustlijn der verwondering.
            <span class="by">W. Mark Richardson</span>
        </li>
        <li>
            Time is what we want most, but what we use worst.
            <span class="by">William Penn</span>
        </li>
        <li>
            Be nice to nerds; chances are you’ll end up working for one.
            <span class="by">Bill Gates</span>
        </li>
        <li>
            Don’t wish for less challenges, wish for more wisdom.
            <span class="by">Earl Shoaff</span>
        </li>
        <li>
            I am what I am because of who we all are.
            <span class="by">Gandhi</span>
        </li>
        <li>
            It's not what you look at that matters, it's what you see.
            <span class="by">Henry Thoreau</span>
        </li>
        <li>
            Wherever you go, go with all your heart.
            <span class="by">Confusius</span>
        </li>
        <li>
            Imagination is more important than knowledge. For knowledge is limited to all we now know and understand., while imagination embraces the entire world, and all there ever will be to know and understand.
            <span class="by">Albert Einstein</span>
        </li>
        <li>
            Wat is het nut van rennen als je niet op de goede weg bent?
            <span class="by">Bertil Schaart</span>
        </li>
        <li>
            I can't understand why people are frightened by new ideas. I'm frightened by old ones.
            <span class="by">John Cage</span>
        </li>
        <li>
            Als je blijft staren naar de plek waar de zon onderging, zal je hem nooit meer op zien gaan.
        </li>
        <li>
            If it's not fun, you're not doing it right.
            <span class="by">Bob Basso</span>
        </li>
        <li>
            The best way to make your dreams come true is to wake up
            <span class="by">Paul Valery</span>
        </li>
        <li>
            Winnaars hebben een plan, verliezers een excuus.
            <span class="by">Marc Lammers</span>
        </li>
        <li>
            When I let go of what I am, I can become what I might be
            <span class="by">Lao Tzu</span>
        </li>
        <li>
            Als je denkt dat je te klein bent om invloed te hebben ga dan maar eens slapen met een mug in de kamer.
            <span class="by">Anita Roddick</span>
        </li>
        <li>
            Be curious, not judgmental.
            <span class="by">Walt Whitman</span>
        </li>
        <li>
            Wil je snel gaan, ga alleen. Wil je ver komen, ga samen.
            <span class="by">Afrikaans gezegde</span>
        </li>
        <li>
            Don’t cry because it’s over. Smile because it happened.
            <span class="by">Dr. Seuss</span>
        </li>
        <li>
            Behandel iemand zoals hij is en hij zal zo blijven. Behandel iemand zoals hij kán zijn en hij zal zo worden.
            <span class="by">Goethe</span>
        </li>
        <li>
            Wéés de verandering die je in de wereld wilt zien.
            <span class="by">Gandhi</span>
        </li>
        <li>
            In times of rapid change, experience could be your worst enemy.
            <span class="by">J. Paul Getty</span>
        </li>
    </ul>
</article>
