<article class="sitemap">
    <div class="meta">
        <h1>Sitemap</h1>
    </div>
    <ul>
        <li><a href="/">Richard Hinkamp - Blog</a></li>
        <li><a href="/blogs.html">Blogs</a></li>
        <%- partial("_bloglist", { amount: 100 }) %>
        <li><a href="/quotes.html">Quotes</a></li>
    </ul>
</article>