{% extends "layout/layout.twig" %}

{% block page_content %}
    <article>
        <div class="meta">
            <h1>Quotes</h1>
        </div>
        <p>Wanneer ik inspirerende quotes tegen kom, dan voeg ik die hier toe zodat ik er zo af en toe nog eens door heen kan bladeren. Hopelijk kunnen ze meer mensen inspireren!</p>
        <ul class="quotes">
            {% for quote in records %}
                <li>
                    {{ quote.quote }}
                    {% if quote.name != "" %}
                        <span class="by">{{ quote.name }}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </article>
{% endblock %}
