{% extends "page.twig" %}

{% block page_content %}
    {{ parent() }}

    {% setcontent quotes = "quotes/latest/100" %}
    <div class="quotes-container">
    {% for quote in quotes %}
        <div class="quote box">
        {% include 'blocks/quote.twig' with {'quote': quote} only %}
        </div>
    {%  endfor %}
    </div>

{% endblock %}